.header {
  margin-bottom: 1rem;
}

.header :global(h1) {
  margin-bottom: 0;
  padding-bottom: 0;
}

.subtitle {
  margin-top: 0.05rem;
  margin-bottom: 0;
  color: var(--ifm-color-primary);
  font-size: 1.8em;
  line-height: 1.3;
}

.content {
  display: block;
}

.hasContentTitle .content :global(h1:first-of-type) {
  display: none;
}
